* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("orqa-fon.png")
              center / cover no-repeat;
}

@media (max-width: 768px) {


  body {
    align-items: stretch;
  }

  .chat-container {
    width: 100%;
    height: 100vh;
    max-width: none;
    border-radius: 0;
    position: absolute;
    top: 80px;
  }

 


}


.chat-container {
  width: 360px;
  height: 520px;
  background: rgba(30, 30, 30, 0.55);
  box-shadow: 1px 1px 40px grey;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chat-header {
  padding: 15px;
  background: rgba(30, 30, 30, 0.55);
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  max-width: 75%;
  padding: 10px 14px;
  border-radius: 14px;
  font-size: 14px;
}

.message.user {
  background: #4f46e5;
  color: white;
  align-self: flex-end;
}

.message.ai {
  background: #333;
  color: #fff;
  align-self: flex-start;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: rgba(30, 30, 30, 0.55);
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;

}

.chat-input button {
  margin-left: 10px;
  padding: 0 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
