*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
    background-color: rgb(12, 79, 146);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.chat-container{
    background-color: lightblue;
    align-self: flex-end;

    
}
.user-chat-box{
    background-color: blueviolet;
    margin-bottom: 10px;
    align-self: flex-start;
    color: white;
    left: 10%;
}
.user-chat-area{
    background-color: aquamarine;
    display: inline-block;
    border-top-left-radius: 10px;;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
#user-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 0; right: 0; 
}
.ai-chat-box{
    background-color:chocolate;

}
.ai-chat-area{
    background-color: cornsilk;
    display: inline-block;
    border-top-left-radius: 0px;;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
}
