/*====== BASE =======*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
    background: url(Shoxrux.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}
.form-cantainer {
    display: flex;
    width: 450px;
    height: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    background: linear-gradient(
    180deg,
    rgba(255,255,255,0.15),
    rgba(255,255,255,0.05));
    overflow: hidden;
}
.form-col {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.btn-box {
display: flex;
justify-content: center;
gap: 10px;
margin-top: 30px;
}
.btn{
font-weight: 500;
padding: 8px;
border: none;
border-radius: 30px;
background: rgba(255, 255, 255, 0.2);
color: white;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: 0.2s;
}
.btn-1{
    background-color: #21264D;
    color: white;
}
.btn:hover{
   opacity: 0.85;

}
.kr{
    background: linear-gradient( to left , brown, black );
    background-clip: text;
    color: transparent;
}
.r{
     background: linear-gradient( to left , brown, black );
    background-clip: text;
    color: transparent;
}
.form-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: 0.3s;
    padding: 0 30px;
}
.form-title{
    margin: 40px 0;
    color:  white;
    font-size: 28px;
    font-weight: 600;
}
.login-form{
    left: 50%;

}
.form-inputs{
    width: 100%;

}
.input-box{
    position: relative;
}
.inputs{
    width:100%;
    height: 55px;
    margin: 10px 0;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.input-field{
   font-size: 16px;
   padding: 0 40px 0 20px;
   background: rgba(255, 255, 255, 0.2);
   outline: none;
   backdrop-filter: blur(20px);
}
::placeholder{
    color:white;
    font-size: 15px;
}
.input-box .icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: white;
    width: 17px;
    height: 17px;
}
.social-login{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.social-login-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    color: white; 
}
.social-login-icon{ 
    width: 24px;
}
.social-login-box:hover{
   transform: scale(0.9);
   color: 21264D;
}
.forget-pass,.remember-me{
    display: flex;
    justify-content: right;
    gap: 5px;
}
.forgot-pass a{
    color: white;
    font-size: 14px;
    text-decoration: none;
}
.forget-pass a:hover{
    text-decoration: underline;
}
.remember-me label{
    color: white;
    font-size: 14px;}
.submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #21264D;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    border-radius: 16px;
    padding: 12px 40px;
    color: white;
    margin-top: 8px;
}
.submit-btn:hover{
    gap: 15px;
}
.register-form{
    left: -50%;

}
.register-form .form-title{
    margin-block: 40px 20px;
}