* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
    background: url(orqa-fon.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 20px;
}

.form-cantainer {
    display: flex;
    width: 450px;
    height: 600px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    background: linear-gradient(
    180deg,
    rgba(255,255,255,0.15),
    rgba(255,255,255,0.05));
    overflow: hidden;
}

.form-col {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.form-title{
display: flex;
justify-content: center;
gap: 10px;
margin-top: 30px;
}

.full-form, 
.not-full-form{
  width: 360px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(14px);
  padding: 20px;
  border-radius: 14px;

}

.all-forms{
  position: relative;
  width: 360px;
}

.btn{
font-weight: 500;
padding: 8px;
border: none;
border-radius: 30px;
background: rgba(255, 255, 255, 0.2);
color: white;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
cursor: pointer;
transition: 0.2s;
}
.btn-1{
    background-color: #21264D;
    color: white;
}
.btn:hover{
   opacity: 0.85;

}

.full-form{
    left: 50%;

}
.form-inputs{
    width: 100%;

}

::placeholder{
    font-size: 15px;
}

.h2{
    background: linear-gradient( to left , brown, black );
    background-clip: text;
    color: transparent;
    justify-content: center;

}
.form-title{
    margin: 40px 0;
    color:  white;
    font-size: 28px;
    font-weight: 600;
}
.btn-box {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
}
.btn{
    font-weight: 500;
    padding: 8px;
    border: none;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.2s;
}
.btn-1{
    background-color: #21264D;
    color: white;
}
.btn:hover{
    opacity: 0.85;
}

.dropdown {
  position: relative;
  right: 0px;
  display: inline-block;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 30px grey;
  border-radius: 18px;
}
.dropdown *{
  box-sizing:border-box;
}
.select{
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 34px;
  padding: 5px;
  cursor: pointer;
  transition: 0.3s;
}
.select-clicked{
  border: 2px black solid;
  box-shadow: 0 0 0.8em grey;
}
.select:hover{
  opacity: 0.85;
}
.caret{
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid #fff;
  transition: 0.3s;
}
.caret-rotate{
  transform: rotate(180deg);
}
.menu{
  list-style: none;
  padding: 0.2em 0.5em;
  background: darkblue;
  border: 1px black solid;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0.2);
  border-radius: 0.5em;
  color: white;
  position: absolute;
  top: 3em;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
}
.menu li{
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover{
  background: black;
}
.active{
  background: lightcoral;
}
.menu-open{
  display: block;
  opacity: 1;
}
#cart{
  box-shadow: 0px 0px 10px black;
  font-size: 20px;
  padding: 10px;
  border-radius: 24px;
  background-color: rgb(194, 209, 214);
}
#cardNumber,
#cardDate, 
#cardCVC{
    background-color: #fff;
    border-radius: 18px;
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 1px 1px 30px grey;
    padding-right: 130px;
}

.rules {
  margin-top: 20px;
}
.rule-text{
  color: black;

}
.rule-check {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  color: #e5e7eb;
}

.rule-check input {
  display: none;
}

/* checkbox */
.checkmark {
  width: 22px;
  height: 22px;
  border: 2px solid #6366f1;
  border-radius: 6px;
  position: relative;
  transition: 0.2s;
}

.rule-check input:checked + .checkmark {
  background: #6366f1;
}

.checkmark::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 12px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.rule-check input:checked + .checkmark::after {
  opacity: 1;
}

/* text + button */
.rule-text {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* qoidalar buttoni */
.checkbox-info {
  background: none;
  border: none;
  color: #60a5fa;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  padding: 0;
}

.checkbox-info:hover {
  color: #93c5fd;
}

.warning {
  margin-top: 8px;
  font-size: 13px;
  color: #fca5a5;
}
